<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
		<title>webpack</title>
	</head>
	<body>
		<div id="test">这是一个测试......(2秒后重置此段文本)</div>
		<!-- 这是一段用于测试编译时是否清楚注释的测试文本 -->
		<div>+++++++++++++++++++++++++++++++++++++++++++++++</div>
		<!-- <div id="context"><%= htmlWebpackPlugin.options.data %></div> -->
		<!-- 当使用html-loader时, <%= htmlWebpackPlugin.options.data %>失效 -->
		<div id="context"></div>
		<div>+++++++++++++++++++++++++++++++++++++++++++++++</div>
	</body>
</html>
